{{ answer.relevancyUpPercent }}% UP {{ answer.relevancyDownPercent  }}% DOWN 
posted by <a href="{{ path('user_show', {nickname: answer.user.nickname}) }}">{{ answer.user }}</a> on {{ answer.createdAt|date('M d, Y') }}
      
<div>        
  {{ answer.body }}
</div>

<br />
