{{ answer.relevancyUpPercent }}% UP {{ answer.relevancyDownPercent  }}% DOWN 
posted by <a href="{{ path('user_show', {nickname: answer.user.nickname}) }}">{{ answer.user }}</a> on {{ answer.createdAt|date('M d, Y') }}
      
<div>        
  {{ answer.body }}
</div>
<div class="options"> 
    {% include 'answer/_options.html.twig' %}
     {% include 'moderator/_answer_options.html.twig' %}
</div>

<br />
