{{ answer.relevancyUpPercent }}% {% trans %}UP{% endtrans %} {{ answer.relevancyDownPercent  }}% {% trans %}DOWN{% endtrans %} 
{% trans %}posted by{% endtrans %} <a href="{{ path('user_show', {nickname: answer.user.nickname}) }}">{{ answer.user }}</a> {% trans %}on{% endtrans %} {{ answer.createdAt|date('M d, Y')|format_datetime() }}
      
<div>        
  {{ answer.body }}
</div>
<div class="options"> 
    {% include 'answer/_options.html.twig' %}
     {% include 'moderator/_answer_options.html.twig' %}
</div>

<br />
