{% if is_granted("ROLE_ADMINISTRATOR") %}
    <h2>{% trans %}administration{% endtrans %}</h2>

    <ul>
        <li><a href="{{ path('administrator_moderatorCandidates') }}">{% trans %}moderator candidates{% endtrans %} ({{ static_call('App\\Entity\\UserQuery', 'getModeratorCandidatesCount', []) }})</a></li>
        <li><a href="{{ path('administrator_moderators') }}">{% trans %}moderator list{% endtrans %}</a></li>
        <li><a href="{{ path('administrator_administrators') }}">{% trans %}administrator list{% endtrans %}</a></li>
        <li><a href="{{ path('administrator_problematicUsers') }}">{% trans %}problematic users{% endtrans %} ({{ static_call('App\\Entity\\UserQuery', 'getProblematicUsersCount', []) }})</a></li>
    </ul>
{% endif %}
