<h2>browser askeet</h2>
<a href="{{ path('question_add') }}">ask a new question</a>
 
<ul>
  <li>
    <a href="{{ path('question_list') }}">popular questions</a>
    <a href="{{ path('feed_popular') }}"><img src=" {{ asset('images/feed.gif') }}"></a>
  </li>
  <li><a href="{{ path('question_recent') }}">latest questions</a></li>
  <li><a href="{{ path('answer_recent') }}">latest aswers</a></li>
</ul>
