{% for question in question_pager.results %}
  <div class="question">
    <div class="interested_block">
      {{ include('question/_interested_user.html.twig') }}      
    </div>
 
    <h2><a href="{{ path('question_show', {stripped_title: question.getStrippedTitle}) }}" >{{ question.title }}</a></h2>
 
    <div class="question_body">
      <div>{% trans %}asked by{% endtrans %} <a href="{{ path('user_show', {nickname: question.user.nickname}) }}">{{ question.user }}</a> on {{ question.createdAt|date('M d, Y g:i')|format_datetime() }}
      </div>
     {{ question.htmlBody|u.truncate(200)|raw }}

    </div>
    {% set links = [] %}
    {% for tag in question.getPopularTags(5, app.request.attributes.get('app_permanent_tag')) %}
        {% set href =  path('tag_recent', {'normalizedTag' : tag})  %}
        {% set link = '<a href="' ~ href ~'">' ~ tag ~ '</a>' %}
        {% set links = links|merge([link]) %}
    {% endfor %}
    {% autoescape false %}
        {% if links is not empty %}
        tags: {{ links|join(' + ') }}
        {% endif %}
    {% endautoescape %}

  </div>
  <div class="options">  
    {% include 'question/_options.html.twig' %}
    {% include 'moderator/_question_options.html.twig' %}
  </div>
    <br />
{% endfor %}

<div id="question_pager">
  {% import "_pager_navigation.html.twig" as pager %}
  {{ pager.pager_navigation(question_pager, rule) }}
</div>
