{% extends 'base.html.twig' %}

{% block body %}	
	
    {{ form_start(form, {'action': path('question_add'), 'method': 'POST', attr: {'novalidate': 'novalidate'}}) }}
        <div class="form-row">
            <div class="form_error">{{ form_errors(form.title) }}</div>
            {{ form_label(form.title,  'Question title'|trans ~ ':' ) }}
            {{ form_widget(form.title) }}
        </div>
    
        <div class="form-row">
            <div class="form_error">{{ form_errors(form.body) }}</div>
            {{ form_label(form.body, 'Your question in details'|trans ~ ':') }}
            {{ form_widget(form.body) }}
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
        <input type="submit" value="{% trans %}ask it{% endtrans %}" />
    {{ form_end(form) }}

{% endblock %}
