{% extends 'base.html.twig' %}

{% block body %}

<h1>popular questions</h1> 
 
{% for question in questionList %}
  <div class="question">
    <div class="interested_block">
      <div class="interested_mark" id="mark_{{ question.id }}">
        {{ question.countInterests }}
      </div>
    </div>
 
    <h2><a>{{ question.title }}</a></h2>
 
    <div class="question_body">
     {{ question.body|u.truncate(200) }}
    </div>
  </div>
{% endfor %}

<a href="{{ path('question_new') }}">create</a>

{% endblock %}
