{% extends 'base.html.twig' %}

{% block body %}
 
<div class="interested_block">
  {{ include('question/_interested_user.html.twig') }}
</div>
 
<h2>{{ question.title }}</h2>
 
<div class="question_body">
  {{ question.htmlBody|raw }}
</div>

<div id="answers">
  {% for answer in question.answers  %}
    <div class="answer">
      {% include 'answer/_answer.html.twig' %}
    </div>
  {% endfor %}
</div>

<div class="answer" id="add_answer">

<div class="form-row">
        {% if is_granted('ROLE_SUBSCRIBER') %}
            {{ app.user.nickname }}
        {% else %}
            Anonymous Coward 
            <a id="answer_{{ question.id }}" href="#">login</a>
        {% endif %}
</div>

{{ form_start(form, {'action': path('answer_add'), 'method': 'POST', attr: {'novalidate': 'novalidate'}}) }}
        <div class="form-row">
            <div class="form_error">{{ form_errors(form.body) }}</div>
            {{ form_label(form.body, 'Your answer:') }}
            {{ form_widget(form.body) }}
        </div>
         
        {{ form_widget(form.question_id) }}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
        <input id="answer_it" type="submit" value="answer it" />
    {{ form_end(form) }}
</div>

{% endblock %}

{% block tag %}
<h2>question tags</h2>

<ul id="question_tags">
{% for tag in question.tags %}
    <li>
        <a href="{{ path('tag_popular', {'normalizedTag' : tag}) }}">{{ tag }}</a>
    </li>
{% endfor %}
</ul>
{% endblock %}

