{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/algolia-autocomplete.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
{% endblock %}

{% block body %}
 
<div class="interested_block">
  {{ include('question/_interested_user.html.twig') }}
</div>
 
<h2>{{ question.title }}</h2>
 
<div class="question_body">
  {{ question.htmlBody|raw }}
</div>

{% include 'question/_options.html.twig' %}
<br />

<div id="answers">
  {% for answer in question.answers  %}
    <div class="answer">
      {% include 'answer/_answer.html.twig' %}
    </div>
  {% endfor %}
</div>

<div class="answer" id="add_answer">

<div class="form-row">
        {% if is_granted('ROLE_SUBSCRIBER') %}
            {{ app.user.nickname }}
        {% else %}
            Anonymous Coward 
            <a id="answer_{{ question.id }}" href="#">{% trans %}login{% endtrans %}</a>
        {% endif %}
</div>

{{ form_start(form, {'action': path('answer_add'), 'method': 'POST', attr: {'novalidate': 'novalidate'}}) }}
        <div class="form-row">
            <div class="form_error">{{ form_errors(form.body) }}</div>
            {{ form_label(form.body, 'Your answer'|trans ~ ':') }}
            {{ form_widget(form.body) }}
        </div>
         
        {{ form_widget(form.question_id) }}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
        <input id="answer_it" type="submit" value="{% trans %}answer it{% endtrans %}" />
    {{ form_end(form) }}
</div>

{% endblock %}

{% block search %}
<h2>{% trans %}find it{% endtrans %}</h2>

{{ form_start(searchForm, {'action': path('question_search'), 'method': 'POST', attr: {'novalidate': 'novalidate'}}) }}
        <div class="form-row">
            <div class="form_error">{{ form_errors(searchForm.search) }}</div>
            {{ form_widget(searchForm.search) }}
            <input id="search_it" type="submit" value="{% trans %}Search{% endtrans %}" />
        </div>
        
        <label for="search_all">
            {{ form_widget(searchForm.search_all) }} {% trans %}search with all words{% endtrans %}
        </label>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" /> 
{{ form_end(form) }}

{% endblock %}

{% block tag %}
<h2>{% trans %}question tags{% endtrans %}</h2>

<ul id="question_tags">
{% for tag in question.getTags(app.request.attributes.get('app_permanent_tag')) %}
    <li>
        <a href="{{ path('tag_recent', {'normalizedTag' : tag}) }}">{{ tag }}</a>
    </li>
{% endfor %}
</ul>

{% trans %}Add your own{% endtrans %}:
{{ form_start(tagForm, {'action': path('tag_add'), 'method': 'POST', attr: {'novalidate': 'novalidate'}}) }}
        <div class="form-row">
            <div class="form_error">{{ form_errors(tagForm.tag) }}</div>
            {{ form_widget(tagForm.tag) }}
            <input id="tag_it" type="submit" value="{% trans %}Tag{% endtrans %}" />
        </div>
         
        {{ form_widget(tagForm.question_id) }}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" /> 
    {{ form_end(form) }}
</div>

{% endblock %}
