{% if is_granted('ROLE_MODERATOR') %}
    {% if answer.reports %}
        &nbsp;[<strong>{{ answer.reports }}</strong> reports]
        &nbsp;<a id="{{ 'reset_answer_report' ~ answer.id }}" href="" data-answer="{{ answer.id }}">[reset reports]</a>
    {% endif %}
  &nbsp;<a id="{{ 'delete_answer' ~ answer.id }}" href="" data-answer="{{ answer.id }}">[delete answer]</a>
{% endif %}

