<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" />

        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/layout.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        <div id="header">
            <ul>
                <li><a href="{{ path('question_list') }}">about</a></li>
            </ul>
            <h1><a href="{{ path('question_list') }}"><img src="{{ asset('images/askeet_logo.gif') }}" alt="askeet" /></a></h1>
        </div>

        <div id="content">
            <div id="content_main">
                {% block body %}{% endblock %}
                <div class="verticalalign"></div>
            </div>
 
            <div id="content_bar">
                <!-- Nothing for the moment -->
                <div class="verticalalign"></div>
            </div>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
