<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% trans %}Welcome!{% endtrans %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" />
        <link rel="alternate" type="application/rss+xml" title="{% trans %}Popular questions on askeet{% endtrans %}" href="{{ path('feed_popular') }}" />
        

        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/layout.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        <div id="indicator" style="display: none">
        </div>

        <div id="header">
            <ul>
              {% if is_granted("ROLE_SUBSCRIBER") %}
                <li><a href="{{ path('user_logout') }}">{% trans %}sign out{% endtrans %}</a></li>
                <li><a href="{{ path('user_show', {'nickname': app.user.nickname }) }}">{{ app.user.nickname }} {% trans %}profile{% endtrans %}</a></li>
              {% elseif not app.user %}
                <li><a href="{{ path('user_login') }}">{% trans %}sign in{% endtrans %}</a></li>
              {% endif %}

              <li><a href="{{ path('question_list') }}">about</a></li>
            </ul>
            <h1><a href="{{ path('question_list') }}"><img src="{{ asset('images/askeet_logo.gif') }}" alt="askeet" /></a></h1>
        </div>

        <div id="login" style="display: none">
          <h2>{% trans %}Please sign-in first{% endtrans %}</h2>

          <a id="login_cancel" href="#">{% trans %}cancel{% endtrans %}</a><br />
            
          {{ render(controller('App\\Controller\\UserController::embedLogin', {'request' : app.request})) }}
          
          </div>

        <div id="content">
            <div id="content_main">
                {% block body %}{% endblock %}
                <div class="verticalalign"></div>
            </div>
 
            <div id="content_bar">
                {% include 'sidebar/_sidebar.html.twig' %}
                {% include 'sidebar/_moderation.html.twig' %}
                {% include 'sidebar/_administration.html.twig' %}
                {% block search %}{% endblock %}
                {% block tag %}{% endblock %}
                <div class="verticalalign"></div>
            </div>
        </div>
 
        {% block javascripts %}
          <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
          <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
          <script src="{{ asset('js/login.js') }}"></script> 
          <script src="{{ asset('js/answer.js') }}"></script>
          <script src="{{ asset('js/tag.js') }}"></script>
          <script src="{{ asset('js/user.js') }}"></script>
          <script src="{{ asset('js/moderator.js') }}"></script>
          <script src="{{ asset('js/administrator.js') }}"></script>
        {% endblock %}

    </body>
</html>
