{{ form_start(form, {'action': path('user_login'), 'method': 'POST', attr: {'novalidate': 'novalidate'}}) }}
    <div class="form-row">
        {{ form_label(form.nickname) }}
        {{ form_widget(form.nickname) }}
    </div>
    
    <div class="form-row">
        {{ form_label(form.password) }}
        {{ form_widget(form.password) }}
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
    <input type="submit" value="{% trans %}login{% endtrans %}" />
{{ form_end(form) }} 
