{% extends 'base.html.twig' %}

{% block body %}
<h2>Receive your login details by email</h2>

<p>Did you forget your password? Enter your email to receive your login details:</p>
{{ form_start(form, {'action': path('user_resetPassword'), 'method': 'POST', attr: {'novalidate': 'novalidate'}}) }}
    <div class="form_error">{{ form_errors(form) }}</div>
    <div class="form_error">{{ form_errors(form.email) }}</div>
    {{ form_label(form.email) }}
    {{ form_widget(form.email, { 'attr': {'style': 'width:150px'} }) }}
    
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
    <input type="submit" value="Send" />
  {{ form_end(form) }}

{% endblock %}

